extends layout

block content
    //-container for the whole page
    .container
        //-page title
        h3.page-header= title

        .row
            .col-md-offset-6.col-md-6.col-xs-12#search-bar
                .input-group
                    input.form-control#search-box(type='text', placeholder='Search the Archive')
                    span.input-group-btn
                        button(class='btn btn-default', type='button')
                            span.glyphicon.glyphicon-search(aria-hidden='true')
                            span.sr-only Search

        #recording-list

    script(src='/javascripts/archiveSetup.js')
