extends layout

block content
    .container
        h3.page-header= title

        .panel.panel-default
            .panel-heading
                h4.panel-title Upcoming Recordings
            .panel-body
                .table-responsive
                    table.table
                        thead
                            tr
                                th Title
                                th Station
                                th Starting
                                th Duration
                        tbody#upcoming-recordings
        .panel.panel-default
            .panel-heading
                h4.panel-title Informaiton
            .panel-body
                h4 Usage
                h5 Schedule a Recording
                ul
                    li.
                        Navigate to the <strong>Schedule</strong> page
                    li.
                        Fill in the form with information about your schedule and click 'submit'
                    li.
                        You can schedule something up to 21 days in advance and recordings are limited to a duration of one hour
                h5 Using the Archive
                ul
                    li.
                        Recordings are automatically added to the <strong>Archive</strong>
                    li.
                        You can preview or download any recording on the archive page
                    li.
                        If you only want to download part of a recording click on the 'tool' button, this will take you to the <strong>Trimmer</strong> page
                    ul
                        li.
                            Drag the blue sliders to the desired start and end points in the recording
                        li.
                            Playback the trimmed recording by pressing the 'play' button, skip to any point within the trimmed recording by clicking in the grey section of the timeline
                        li.
                            Download the trimmed recording by clicking the 'download' button
                h5 Help!
                ul
                    li.
                        Please email (placeholder) if you encounter any issues with BUCSRecorder




    script(src='/javascripts/homeSetup.js')
