extends layout

block content
    .container
        h3.page-header= title

        .panel.panel-default
            .panel-heading
                h4.panel-title Upcoming Recordings
            .panel-body
                .table-responsive
                    table.table
                        thead
                            tr
                                th Title
                                th Station
                                th Starting
                                th Duration
                        tbody#upcoming-recordings
    script(src='/javascripts/homeSetup.js')
