extends layout

block content
    .container
        h3.page-header= title

        .container-fluid
            .row#form-list
                //-first form
                form.form#form-0
                    .panel.panel-default
                        .panel-body
                            .col-sm-6
                                .form-group.station
                                    label(for='station') Station
                                    select.form-control
                                        //-select items populated by javascript
                                .form-group.datetime
                                    label(for='start') Start date/time
                                    .input-group.date
                                        input.form-control(type='text', data-date-format='DD/MM/YYYY HH:mm', placeholder='pick a date and time')
                                        span.input-group-addon
                                            span.glyphicon-calendar.glyphicon
                                .form-group.duration
                                    label(for='duration') Duration (mins)
                                    select.form-control
                                        //-select items populated by javascript
                            //-end column
                            .col-sm-6
                                .form-group.description
                                    label(for='description') Title
                                    input.form-control
                                //-.form-group.teaching-purposes
                                label Additional Informaiton
                                .checkbox
                                    label
                                        input(type='checkbox' name='for-teaching-purposes' value='true')
                                        |This recording will be used for teaching purposes
                            //-end column
            .btn-toolbar.actions
                button.btn.btn-primary.pull-right#submit Submit
                //-button.btn.btn-default.pull-right.add.disabled(onclick='rec.addForm()') Add


    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
    script(src='/javascripts/bootstrap-datetimepicker.js')
    script(src='/javascripts/scheduleSetup.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap-datetimepicker.min.css')
