body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #2965A8;
}

.panel.no-border {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

#search-bar {
    margin-bottom: 30px;
}

#recording-list .well {
    background: transparent;
}


#recording-list .progress {
    margin-bottom: 0;
    height: 32px;
    margin-left: 5px;
    margin-top: 1px;
}

#recording-list form {
    margin-bottom: 0;
}

div.trimmer {
    /*width: 500px;*/
    /*height: 150px;*/
    margin: 50px auto auto auto;
    /*border-radius: 15px;*/
    /*border: solid;*/
}

div.timeline {
    width: 100%;
    height: 100px;
    float: center;
    /*border: solid;*/
    background: rgba(0,0,0,.3);
}

div.Lslider {
    position: relative;
    float: right;
    right: 100%;
	width: 10px;
	height: 110%;
	background: red;
}

div.Rslider {
    position: relative;
    float: left;
    left: 100%;
	width: 10px;
	height: 110%;
	background: green;
}
