body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #2965A8;
}

.panel.no-border {
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

#search-bar {
    margin-bottom: 30px;
}

#recording-list .well {
    background: transparent;
}

#recording-list .progress {
    margin-bottom: 0;
    height: 32px;
    margin-left: 5px;
    margin-top: 1px;
}

#recording-list form {
    margin-bottom: 0;
}

.more-padding {
    margin: 5px;
    padding: 5px;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-center-block2 {
    float: none;
    display: block;
    margin-left: 10px;
    margin-right: auto;
}

.well#trimmer {
    background: transparent;
    border: none;
    webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

div.trimmer {
    /*width: 500px;*/
    /*height: 150px;*/
    margin: 50px auto auto auto;
    /*border-radius: 15px;*/
    /*border: solid;*/
}

div.timeline {
    position: relative;
    width: 100%;
    height: 100px;
    float: center;
    /*border: solid;*/
    background: rgb(245,245,248);
}

div.Lslider {
    position: relative;
    float: right;
    right: 100%;
	width: 10px;
	height: 110%;
    background: rgb(51,122,183);
}

div.Ltrim-zone {
    position: absolute;
    float: left;
    left: 0%;
    width: 0%;
    height: 100%;
    background: rgba(51,122,183,0.5);
}

div.Rslider {
    position: relative;
    float: left;
    left: 100%;
	width: 10px;
	height: 110%;
    background: rgb(40,96,144);
}

div.Rtrim-zone {
    position: absolute;
    float: right;
    right: 0%;
    width: 0%;
    height: 100%;
    background: rgba(40,96,144, 0.5);
}

div.play-tracker {
    position: absolute;
    float: left;
    left: 0%;
    width: 11px;
    height: 30%;
    border-radius: 3px;
    /*background: rgb(217, 83, 79);*/
    background: red;
    margin-top: 35px;
    margin-left: -6px;
}

div.play-tracker-line {
    position: absolute;
    float: left;
    left: 0%;
    width: 1px;
    height: 100px;
    /*background: rgb(217, 83, 79);*/
    background: red;
    margin-top: -35px;
    margin-left: 5px;
}

div.current-time-counter {
    position: absolute;
    float: right;
    right: 0%;
    background: rgb(245,245,248);
    -webkit-border-radius: 0px 0px 0px 5px;
    -moz-border-radius: 0px 0px 0px 5px;
    border-radius: 0px 0px 0px 5px;
}

.restrict-height {
    height: 96px;
}

.clickable {
    cursor: pointer;
}
